<table class="table table-bordered table-success p-4 mt-3 mb-3 text-center">
   <tr>
      <th class="text-primary" colspan="5">lego toys list</th>
      <th>
         <a class="btn btn-primary" href="/product/add">ADD</a>
         <a class="btn btn-success" href="/product/drop"
            onclick="return confirm('Are you sure to drop all items ?');">DROP</a>
      </th>
   </tr>
   <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Material</th>
      <th>Image</th>
      <th>Price</th>
      <th>Status</th>
      <th>Menu</th>
   </tr>
   <tr>
      <th colspan="6">
         <select class="form-control" onchange="window.location.href=this.value">
            <option value="">Sort by name</option>
            <option value="/product/sort/asc">Ascending</option>
            <option value="/product/sort/desc">Descending</option>
         </select>
      </th>
      <th colspan="1">
         <form action="/product/search" method="post">
            <div class="form-group">
               <input class="form-control" type="search" name="name" placeholder="Search by name">
            </div>
         </form>
      </th>
   </tr>
   {{#each product }}
   <tr>
      <td>{{name}}</td>
      <td>{{origin}}</td>
      <td>{{material}}</td>
      <td>
         <a href="/product/detail/{{_id}}">
            <img src="{{image}}" width="100" height="100">
         </a>
      </td>
      <td>{{price}}</td>
      <td>{{status}}</td>

      <td>
         <a class="btn btn-warning" href="/product/edit/{{_id}}">EDIT</a>
         <a class="btn btn-danger" href="/product/delete/{{_id}}">DELETE</a>
      </td>
   </tr>
   {{/each}}
</table>