<div class="row">
   <div class="col">
      <img class="img-thumbnail" src="{{product.image}}" width="350" height="350">
   </div>
   <div class="col">
      <table class="table table-bordered text-center mt-4">
         <tr>
            <th colspan="2" class="text text-bg-success">ITEMS INFO</th>
         </tr>
         <tr>
            <th>Name</th>
            <th>{{product.name}}</th>
         </tr>
         <tr>
            <th>Origin</th>
            <th>{{product.origin}}</th>
         </tr>
         <tr>
            <th>Material</th>
            <th>{{product.material}}</th>
         </tr>
         <tr>
            <th>Price</th>
            <th>{{product.price}}</th>
         </tr>
         <tr>
            <th>Status</th>
            <th>{{product.status}}</th>
         </tr>
      </table>
   </div>
</div>